TrainJSPApplication/src/conf/xml-resources/web-service-references/TrainWebService/wsdl/localhost_8080/TrainService/TrainWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://src.trains/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://src.trains/">

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="addTrain" type="tns:addTrain"/>

<xs:element name="addTrainResponse" type="tns:addTrainResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="listTrains" type="tns:listTrains"/>

<xs:element name="listTrainsResponse" type="tns:listTrainsResponse"/>

<xs:element name="rechercheTrain" type="tns:rechercheTrain"/>

<xs:element name="rechercheTrainResponse" type="tns:rechercheTrainResponse"/>

<xs:complexType name="addTrain">
<xs:sequence>
<xs:element name="identifiant" type="xs:int"/>
<xs:element name="villeDepart" type="xs:string" minOccurs="0"/>
<xs:element name="villeArrivee" type="xs:string" minOccurs="0"/>
<xs:element name="dateDepart" type="xs:string" minOccurs="0"/>
<xs:element name="heureDepart" type="xs:int"/>
<xs:element name="prixBillet" type="xs:int"/>
<xs:element name="places" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addTrainResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listTrains">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listTrainsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rechercheTrain">
<xs:sequence>
<xs:element name="villeDepart" type="xs:string" minOccurs="0"/>
<xs:element name="villeArrivee" type="xs:string" minOccurs="0"/>
<xs:element name="heureDepart" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rechercheTrainResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>