TrainJSPApplication/src/conf/xml-resources/web-service-references/ReservationWebService/wsdl/localhost_8080/TrainService/ReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://src.trains/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://src.trains/" name="ReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://src.trains/" schemaLocation="http://localhost:8080/TrainService/ReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="listReservations">
<part name="parameters" element="tns:listReservations"/>
</message>
<message name="listReservationsResponse">
<part name="parameters" element="tns:listReservationsResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="addReservation">
<part name="parameters" element="tns:addReservation"/>
</message>
<message name="addReservationResponse">
<part name="parameters" element="tns:addReservationResponse"/>
</message>
<message name="rechercheReservation">
<part name="parameters" element="tns:rechercheReservation"/>
</message>
<message name="rechercheReservationResponse">
<part name="parameters" element="tns:rechercheReservationResponse"/>
</message>
<portType name="ReservationWebService">
<operation name="hello">
<input wsam:Action="http://src.trains/ReservationWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://src.trains/ReservationWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="listReservations">
<input wsam:Action="http://src.trains/ReservationWebService/listReservationsRequest" message="tns:listReservations"/>
<output wsam:Action="http://src.trains/ReservationWebService/listReservationsResponse" message="tns:listReservationsResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://src.trains/ReservationWebService/listReservations/Fault/ParseException"/>
</operation>
<operation name="addReservation">
<input wsam:Action="http://src.trains/ReservationWebService/addReservationRequest" message="tns:addReservation"/>
<output wsam:Action="http://src.trains/ReservationWebService/addReservationResponse" message="tns:addReservationResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://src.trains/ReservationWebService/addReservation/Fault/ParseException"/>
</operation>
<operation name="rechercheReservation">
<input wsam:Action="http://src.trains/ReservationWebService/rechercheReservationRequest" message="tns:rechercheReservation"/>
<output wsam:Action="http://src.trains/ReservationWebService/rechercheReservationResponse" message="tns:rechercheReservationResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://src.trains/ReservationWebService/rechercheReservation/Fault/ParseException"/>
</operation>
</portType>
<binding name="ReservationWebServicePortBinding" type="tns:ReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="addReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="rechercheReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ReservationWebService">
<port name="ReservationWebServicePort" binding="tns:ReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/TrainService/ReservationWebService"/>
</port>
</service>
</definitions>